[Unit]
Description=Web
After=network.target auditd.service

[Service]
ExecStart=/app/server.py
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
